.app-container {
  max-width: 1250px;
  margin: auto;
}

.app-background {
  background-color: #292929;
  height: 100vh;
  overflow: auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
}

.header__dropdown {
  background-color: #292929 !important;
  margin-top: 20px !important;
}

.header__dropdown-menu {
  background-color: #222 !important;
}

.header__dropdown-menu-text {
  color: #fff !important;
}

.table-cell_positive {
  color: #26c868;
}

.table-cell_negative {
  color: #ef4b56;
}
